* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding-right: 20px;
  right: 200px;
  position: fixed;
}

::-webkit-scrollbar:horizontal {
  width: 4px;
  height: 4px;
  margin-bottom: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  background-color: #FFFFFF00;
  margin-bottom: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  margin-left: 10px;
  margin-right: -10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ui-icon-gripsmall-diagonal-se {
  margin-right: 0px !important;
  padding-right: 0px !important;
  background-image: url("../imgs/resize-handle.svg") !important;
  background-position: 0px 0px !important;
  background-size: 100% 100% !important;
  width: 11px !important;
  height: 13px !important;
  bottom: -1px !important;
  right: -1px !important;
}

.button-large, .taskbar-nav-button {
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  border-color: #f8f3ef;
  display: table;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 24px;
  width: 194px;
  height: 38px;
}

.button-large:hover, .taskbar-nav-button:hover {
  background-color: #00000059;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
}

.button-large:active, .taskbar-nav-button:active {
  background-color: #00000059;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
  -webkit-transform: scale(0.985, 0.985);
          transform: scale(0.985, 0.985);
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

html {
  font-family: "plex_light", Plex Light, sans-serif !important;
  overflow: hidden;
}

body {
  font-family: "plex_light", Plex Light, sans-serif !important;
  background-size: 100%;
  color: white !important;
}

@media (max-width: 800px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

h1 {
  text-align: left;
  font-size: 60px !important;
  font-family: "made_medium", Made Medium, sans-serif;
  letter-spacing: 5px;
  padding-bottom: 20px;
}

h2 {
  font-size: 33px !important;
  font-family: "made_medium", Made Medium, sans-serif;
  margin-bottom: 20px !important;
}

h3 {
  font-family: "made_medium", Made Medium, sans-serif;
}

h4 {
  font-family: "made_medium", Made Medium, sans-serif;
}

h5 {
  font-family: "made_medium", Made Medium, sans-serif;
}

p {
  font-size: 22px;
  margin-bottom: 0px;
  line-height: 1.5em;
}

p .desktop-text {
  font-size: 22px;
  margin-bottom: 0 !important;
}

hr {
  border-color: #f8f3ef !important;
  opacity: 60%;
  margin: auto;
  display: block;
  -webkit-margin-before: 0px !important;
          margin-block-start: 0px !important;
  -webkit-margin-after: 0px !important;
          margin-block-end: 0px !important;
  -webkit-margin-start: 0px !important;
          margin-inline-start: 0px !important;
  -webkit-margin-end: 0px !important;
          margin-inline-end: 0px !important;
  margin-top: 15px !important;
  margin-bottom: 10px !important;
  height: 1px !important;
}

@font-face {
  font-family: "made_medium";
  src: url("../fonts/made_tommy/MADE TOMMY Medium_PERSONAL USE.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "made_regular";
  src: url("../fonts/made_tommy/MADE TOMMY Regular_PERSONAL USE.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "plex_light";
  src: url("../fonts/ibm_plex/IBMPlexSans-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "plex_medium";
  src: url("../fonts/ibm_plex/IBMPlexSans-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

b {
  font-family: "plex_medium", Plex Medium, sans-serif;
}

strong {
  font-family: "plex_medium", Plex Medium, sans-serif;
  color: #707dbd;
}

.bright {
  color: #8897e2;
}

.pos-tl {
  top: 0;
  left: 0;
}

.pos-tr {
  top: 0;
  right: 0;
}

.pos-bl {
  bottom: 0;
  left: 0;
}

.pos-br {
  bottom: 0;
  right: 0;
}

.d-table-cell-centered {
  display: table-cell !important;
  vertical-align: middle !important;
}

.page-content-spacer {
  height: 80px;
}

.test-blue {
  background-color: blue !important;
}

.test-orange {
  background-color: orange !important;
}

#swup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.background-gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#161626), to(#323140)) !important;
  background-image: linear-gradient(0deg, #161626 0%, #323140 100%) !important;
  position: absolute;
  width: 100%;
  height: 100%;
}

.background-fill {
  background-color: #161626 !important;
  position: absolute;
  width: 100%;
  height: 100%;
}

.topbar-large {
  background-color: #707dbd !important;
  position: absolute;
  width: calc(100% - 150px);
  right: 0;
  height: 26px;
}

#stars-bg {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.stars-fg {
  width: 1437px;
  height: 688px;
  position: absolute;
  background-image: url("../imgs/stars-fg.svg");
}

#stars-fg-tr {
  left: 0px;
  top: 0px;
}

#stars-fg-tl {
  left: -1437px;
  top: 0px;
}

#stars-fg-bl {
  left: -1437px;
  top: 688px;
}

#stars-fg-br {
  left: 0;
  top: 688px;
}

#stars-anim {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-animation-name: stars-pan;
          animation-name: stars-pan;
  -webkit-animation-duration: 220s;
          animation-duration: 220s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background-image: url("../imgs/stars-fg.svg");
  background-repeat: repeat;
  pointer-events: none;
}

@-webkit-keyframes stars-pan {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(1437px, calc(688px * -1));
            transform: translate(1437px, calc(688px * -1));
  }
}

@keyframes stars-pan {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(1437px, calc(688px * -1));
            transform: translate(1437px, calc(688px * -1));
  }
}

#stars-clip-container {
  position: absolute;
  width: 100%;
  height: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 113px), 0 calc(100% - 113px));
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 113px), 0 calc(100% - 113px));
}

#taskbar {
  width: calc(100% - (38px * 2));
  left: 50%;
  margin-left: calc((calc(100% - (38px * 2)) / 2) * -1);
  position: fixed;
  height: 113px;
  bottom: 0;
  border-top: solid 1px rgba(255, 255, 255, 0.33);
  z-index: 11;
}

#taskbar-main-button-wrapper {
  height: 38px;
  top: 50%;
  margin-top: calc((38px / 2) * -1);
  position: absolute;
  width: 38px;
}

#taskbar-main-button {
  position: absolute;
  height: 100%;
  top: 50%;
  margin-top: calc((100% / 2) * -1);
  width: 100%;
  left: 50%;
  margin-left: calc((100% / 2) * -1);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

#taskbar-main-button:hover {
  height: 42px !important;
  top: 50% !important;
  margin-top: calc((42px / 2) * -1) !important;
  width: 42px;
  left: 50%;
  margin-left: calc((42px / 2) * -1) !important;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

#taskbar-main-button:active {
  height: 34px !important;
  top: 50% !important;
  margin-top: calc((34px / 2) * -1) !important;
  width: 34px;
  left: 50%;
  margin-left: calc((34px / 2) * -1) !important;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.taskbar-button-box {
  width: 15.2px;
  height: 15.2px;
  background: white;
  position: absolute;
  border-radius: 2px;
}

#taskbar-nav-buttons-container {
  position: absolute;
  height: 38px;
  top: 50%;
  margin-top: calc((38px / 2) * -1);
  width: calc((120px * 3) + (17.5px * (3 * 2)));
  left: 50%;
  margin-left: calc((calc((120px * 3) + (17.5px * (3 * 2))) / 2) * -1);
}

.taskbar-nav-button {
  border-color: #00000000 !important;
  background-color: #00000000 !important;
  float: left;
  margin-left: 17.5px;
  margin-right: 17.5px;
  color: #f8f3ef;
  width: 120px;
}

.taskbar-nav-button-active {
  color: #f8f3ef !important;
}

.taskbar-nav-button-active:hover {
  color: #f8f3ef;
  background-color: #00000000 !important;
  background: #00000000 !important;
}

.taskbar-button-text, .taskbar-button-text-link {
  display: table-cell;
  margin: auto;
  vertical-align: middle;
  font-weight: bold;
  font-size: 22px;
}

.taskbar-button-text:hover, .taskbar-button-text-link:hover {
  text-decoration: none;
}

.taskbar-button-text-link {
  color: white !important;
}

.taskbar-button-image {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#portfolio-link {
  margin-top: -7px;
}

#social-buttons-container {
  position: absolute;
  height: 34px;
  top: 50%;
  margin-top: calc((34px / 2) * -1);
  width: calc((34px * 2) + (8.75px * (2 * 2)));
  right: calc(8.75px * -1);
}

.social-media-button {
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  border-color: #f8f3ef;
  display: table;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 24px;
  width: 34px;
  background-color: #f8f3ef;
  float: left;
  height: 100%;
  margin-left: 8.75px;
  margin-right: 8.75px;
  border-radius: 5px;
}

.social-media-button:hover {
  background-color: #00000059;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
}

.social-media-button:active {
  background-color: #00000059;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
  -webkit-transform: scale(0.985, 0.985);
          transform: scale(0.985, 0.985);
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.social-media-icon {
  display: table-cell;
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
}

.window {
  position: absolute !important;
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  background: #59618b99;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
          clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  min-height: 130px;
  min-width: 130px;
}

.window-close {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%) !important;
          clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%) !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.window-outline {
  pointer-events: none;
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  border-color: #161626;
  position: absolute;
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}

.window-outline-close {
  height: 0px !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.topbar {
  background-color: #ffffff59;
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  border-width: 1px;
  height: 27px;
  /*topbar-height*/
  font-style: italic;
  margin: 0;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  display: table;
  width: 100%;
  position: absolute;
}

.window-body {
  margin-top: 10px;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 10px;
  height: calc(100% - 27px - 10px);
  top: 27px;
  position: relative;
}

.window-button-spacer {
  height: calc(38px + (13px * 2));
  position: relative;
}

.window-button {
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  border-color: #f8f3ef;
  display: table;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 24px;
  width: 130px;
  left: 50%;
  margin-left: calc((130px / 2) * -1);
  height: 38px;
  top: 50%;
  margin-top: calc((38px / 2) * -1);
  position: absolute;
  display: table;
}

.window-button:hover {
  background-color: #00000059;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
}

.window-button:active {
  background-color: #00000059;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
  -webkit-transform: scale(0.985, 0.985);
          transform: scale(0.985, 0.985);
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

#about-me-text {
  overflow: auto;
  height: calc(100% - calc(38px + (13px * 2)));
}

#email-text {
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  overflow: auto;
  height: calc(100% - calc(38px + (13px * 2)));
}

.editable-text {
  height: 100%;
  font-size: 22px;
}

#email-text {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#window-about-me {
  width: 293px;
  height: 220px;
  left: calc(100% - 293px - 60px);
  top: 100px;
}

#window-email {
  width: 288px;
  height: 220px;
  left: 60px;
  top: 200px;
}

#window-reel {
  width: 534px;
  height: 327px;
  left: calc(50% - (534px / 2));
  top: calc(50% - (327px / 2) - (113px / 2));
}

#reel-body {
  background: white;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  height: calc(100% - 27px - 10px * 2);
}

.close-button {
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  border-color: #f8f3ef;
  display: table;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 24px;
  border-color: black;
  border-width: 1px;
  background-color: #00000000;
  width: 16px;
  height: 16px;
  top: 50%;
  margin-top: calc((16px / 2) * -1);
  right: 9px;
  position: absolute;
  border-radius: 0px;
}

.close-button:hover {
  background-color: #00000059;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
}

.close-button:active {
  background-color: #00000059;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
  -webkit-transform: scale(0.985, 0.985);
          transform: scale(0.985, 0.985);
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.close-button-icon {
  display: table-cell;
}

.large-window {
  position: absolute;
  top: 26px;
  width: calc(100% + 2px);
  height: calc(100% - 113px - 26px + 1px);
  overflow: auto;
}

.large-window-wrapper {
  z-index: 100;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.large-window-body {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-bottom: 80px;
}

.large-window-body-wrapper {
  height: calc(100% - 27px);
  top: 27px;
  position: relative;
  overflow: auto;
}

#large-window-details {
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.large-window-details-active {
  opacity: 100% !important;
  pointer-events: auto !important;
}

.resume-large-window-body {
  margin-top: 0px;
}

#toolbarContainer {
  background-color: white;
}

#about-me-margins {
  margin-right: 90px;
  margin-left: 90px;
}

#logo-container {
  position: fixed;
  left: 38px;
  top: 30px;
  height: 46px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html.window-active #logo-container {
  left: -44px;
  top: -11px;
}

#logo-icon {
  width: 39px;
  display: inline-block;
}

#logo-text {
  position: relative;
  display: inline-block;
  font-size: 23px;
  font-weight: bold;
  margin-left: calc(20px - 0.3em);
  top: 7px;
  font-family: "made_regular", Made Regular, Sans;
  letter-spacing: 0.5px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  mix-blend-mode: screen;
  z-index: 9999;
  opacity: 20%;
  pointer-events: none;
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
}

#overlay-clip {
  position: fixed;
}

.grid-container {
  height: 100%;
  width: 100%;
}

.portfolio-header-desc {
  margin-right: 30px;
}

.portfolio-header {
  margin-top: 50px;
}

.portfolio-slot {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 0px !important;
}

@media (max-width: 576px) {
  .portfolio-slot {
    padding-bottom: 26px !important;
  }
}

.portfolio-slot-right {
  -webkit-transform: translate(0, 25%);
          transform: translate(0, 25%);
}

@media (max-width: 767.98px) {
  .portfolio-slot-right {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.window-large-container {
  width: 100% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 55px !important;
}

@media (max-width: 767.98px) {
  .window-large-container {
    margin-right: 0px !important;
    margin-left: 0px !important;
    width: 100% !important;
  }
}

.portfolio-row {
  width: 100% !important;
  margin-left: 0px !important;
  padding-bottom: 26px;
}

@media (max-width: 767.98px) {
  .portfolio-row {
    padding-bottom: 0px;
  }
}

.portfolio-slot-window {
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  padding-top: 56.25%;
  position: relative;
  border-color: #f8f3ef !important;
  -webkit-transform: translateX(1000);
          transform: translateX(1000);
  overflow: hidden;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  opacity: 100%;
}

.portfolio-slot-window-active, .portfolio-slot-window:active {
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  -webkit-transform: scale(0.985, 0.985);
          transform: scale(0.985, 0.985);
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.portfolio-slot-window-clear {
  opacity: 0%;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.portfolio-slot-window:hover {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.28, 0.66, 0.32, 0.99), -webkit-box-shadow 0.5s;
  transition: -webkit-transform 1s cubic-bezier(0.28, 0.66, 0.32, 0.99), -webkit-box-shadow 0.5s;
  transition: transform 1s cubic-bezier(0.28, 0.66, 0.32, 0.99), box-shadow 0.5s;
  transition: transform 1s cubic-bezier(0.28, 0.66, 0.32, 0.99), box-shadow 0.5s, -webkit-transform 1s cubic-bezier(0.28, 0.66, 0.32, 0.99), -webkit-box-shadow 0.5s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
          box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.section-header {
  opacity: 100%;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.a-0-trans {
  opacity: 0% !important;
  -webkit-transition-timing-function: ease-out !important;
          transition-timing-function: ease-out !important;
}

.slow-trans {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.image-clip-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-slot-icon {
  position: absolute;
  height: 100%;
  left: 0;
}

.portfolio-overlay {
  background-color: #000000d9;
  color: #f8f3ef;
  height: calc(100% - (0px * 2));
  width: calc(100% - (0px * 2));
  left: 0px;
  position: absolute;
  top: 0px;
  opacity: 0%;
  font-size: 26px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  vertical-align: middle !important;
}

.portfolio-overlay:hover {
  opacity: 100%;
}

.portfolio-text-overlay-h {
  font-family: "made_medium", Made Medium, sans-serif;
}

.portfolio-text-overlay-b {
  font-size: 22px;
}

.portfolio-detail-image-wrapper {
  margin-bottom: 30px;
}

.portfolio-detail-section {
  overflow: none !important;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 4em;
}

.jm-sticky-top {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  margin-top: -7px;
  top: 50px;
}

@media (max-width: 992px) {
  .jm-sticky-top {
    position: relative;
  }
}

.blockquote {
  margin-bottom: 30px;
}

.blockquote p {
  font-size: 1.15rem;
}

.blockquote p:first-child {
  border-left: 10px #707dbd solid;
  margin-bottom: 20px;
}

.blockquote p {
  padding-left: 20px;
  color: #000;
  font-style: italic;
}

.portfolio-quote {
  margin-top: 50px;
  margin-bottom: 50px;
}

#pdf-viewer {
  margin: auto;
}

canvas {
  background-color: orange !important;
}

#about-me-image {
  max-height: 300px !important;
}

.p1-gradient-bg,
.primary-btn,
.primary-btn2:hover,
.default-header,
.dropdown-menu,
.banner-area,
.myself-wrap .desc .talk-btn,
.skillbar-bar,
.single-feature:hover,
.single-footer-widget .click-btn,
.generic-banner {
  background-image: -webkit-gradient(linear, left top, right top, from(#9cb5ff), to(#c8b5ff));
  background-image: linear-gradient(90deg, #9cb5ff 0%, #c8b5ff 100%);
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 1100px) {
  .about-container {
    max-width: 1000px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-text {
  /* padding-top: 20px; */
  text-align: center;
  font-size: 14px !important;
}

.footer-area {
  padding-top: 50px;
  /* background-color: #222222; */
  padding-bottom: 10px !important;
}

.transition-fade {
  opacity: 1;
  -webkit-transition: 500ms;
  transition: 500ms;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.wipe-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #707dbd;
  position: absolute;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: 10;
}

#wipe-overlay-clip-wrapper {
  position: absolute;
  top: 0;
  height: calc(100% - 113px);
  width: 100%;
  pointer-events: none;
}

.transition-wipe {
  -webkit-transition: -webkit-transform 0.2s, -webkit-transform-origin 0s;
  transition: -webkit-transform 0.2s, -webkit-transform-origin 0s;
  transition: transform 0.2s, transform-origin 0s;
  transition: transform 0.2s, transform-origin 0s, -webkit-transform 0.2s, -webkit-transform-origin 0s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

html.is-leaving .transition-wipe {
  -webkit-transition: -webkit-transform 0.25s, -webkit-transform-origin 0s;
  transition: -webkit-transform 0.25s, -webkit-transform-origin 0s;
  transition: transform 0.25s, transform-origin 0s;
  transition: transform 0.25s, transform-origin 0s, -webkit-transform 0.25s, -webkit-transform-origin 0s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom !important;
          transform-origin: bottom !important;
}

html.is-animating .transition-wipe {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
}

@-webkit-keyframes wipe-vertical-on {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes wipe-vertical-on {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
/*# sourceMappingURL=main.css.map */