* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding-right: 20px;
  right: 200px;
  position: fixed;
}

::-webkit-scrollbar:horizontal {
  width: 4px;
  height: 4px;
  margin-bottom: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  background-color: #FFFFFF00;
  margin-bottom: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  margin-left: 10px;
  margin-right: -10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ui-icon-gripsmall-diagonal-se {
  margin-right: 0px !important;
  padding-right: 0px !important;
  background-image: url("../imgs/resize-handle.svg") !important;
  background-position: 0px 0px !important;
  background-size: 100% 100% !important;
  width: 11px !important;
  height: 13px !important;
  bottom: -1px !important;
  right: -1px !important;
}

.button-large {
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  border-color: white;
  display: table;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 24px;
  width: 194px;
  height: 38px;
}

.button-large:hover {
  background-color: rgba(0, 0, 0, 0.349);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
}

.button-large:active {
  background-color: rgba(0, 0, 0, 0.349);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
  -webkit-transform: scale(0.985, 0.985);
          transform: scale(0.985, 0.985);
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.back-button-image {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.back-button-image:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.back-button-image:active {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

html {
  font-family: "plex_light", Plex Light, sans-serif !important;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

html body {
  width: 100%;
  height: 100%;
  font-weight: 400;
}

.dud-anim {
  -webkit-animation-name: dud-anim;
          animation-name: dud-anim;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.dud-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

@-webkit-keyframes dud-anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(0.995);
            transform: scale(0.995);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes dud-anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(0.995);
            transform: scale(0.995);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.button-dud-anim {
  -webkit-animation-name: button-dud-anim;
          animation-name: button-dud-anim;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes button-dud-anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes button-dud-anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

* {
  cursor: -webkit-image-set(url("../imgs/cursor.svg") 1x, url("../imgs/cursor-2x.svg") 2x) 0 0, default;
  cursor: image-set(url("../imgs/cursor.svg") 1x, url("../imgs/cursor-2x.svg") 2x) 0 0, default;
}

::-moz-selection {
  background: rgba(255, 255, 255, 0.996);
  opacity: 1 !important;
  color: black;
}

::selection {
  background: rgba(255, 255, 255, 0.996);
  opacity: 1 !important;
  color: black;
}

.play-btn {
  position: absolute;
  width: 120px;
  left: 50%;
  margin-left: -60px;
  height: 120px;
  top: 50%;
  margin-top: -60px;
  display: inline-block;
}

.play-btn-wrapper {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
}

.port-box-container {
  position: relative;
}

.play-btn-wrapper:after {
  height: 100%;
}

body {
  font-family: "plex_light", Plex Light, sans-serif !important;
  background-size: 100%;
  color: white !important;
  overflow-y: hidden;
}

@media (max-width: 600px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

h1 {
  text-align: left;
  font-size: 55px !important;
  font-family: "made_medium", Made Medium, sans-serif;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

@media (max-width: 767.98px) {
  h1.portfolio-header {
    text-align: center !important;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 40px !important;
  }
}

h2 {
  font-size: 33px !important;
  font-family: "made_medium", Made Medium, sans-serif;
  margin-bottom: 20px !important;
}

h3 {
  font-family: "made_medium", Made Medium, sans-serif;
}

h4 {
  font-family: "made_regular", Made Medium, sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 0px;
  letter-spacing: 1px;
}

h5 {
  font-family: "made_medium", Made Medium, sans-serif;
}

p {
  font-size: 22px;
  margin-bottom: 0px;
  line-height: 1.5em;
}

p .desktop-text {
  font-size: 22px;
  margin-bottom: 0 !important;
}

@media (max-width: 600px) {
  p {
    font-size: 19px;
  }
}

hr {
  border-color: white !important;
  opacity: 0.6;
  margin: auto;
  display: block;
  -webkit-margin-before: 0px !important;
          margin-block-start: 0px !important;
  -webkit-margin-after: 0px !important;
          margin-block-end: 0px !important;
  -webkit-margin-start: 0px !important;
          margin-inline-start: 0px !important;
  -webkit-margin-end: 0px !important;
          margin-inline-end: 0px !important;
  margin-top: 15px !important;
  margin-bottom: 10px !important;
  height: 1px !important;
}

@font-face {
  font-family: "made_medium";
  src: url("../fonts/made_tommy/MADE TOMMY Medium_PERSONAL USE.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "made_regular";
  src: url("../fonts/made_tommy/MADE TOMMY Regular_PERSONAL USE.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "plex_light";
  src: url("../fonts/ibm_plex/IBMPlexSans-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "plex_medium";
  src: url("../fonts/ibm_plex/IBMPlexSans-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

b {
  font-family: "plex_medium", Plex Medium, sans-serif;
  font-weight: 500;
}

strong {
  font-family: "plex_medium", Plex Medium, sans-serif;
  font-weight: 500;
  color: #7785ce;
}

.bright {
  color: #8897e2;
}

.pos-tl {
  top: 0;
  left: 0;
}

.pos-tr {
  top: 0;
  right: 0;
}

.pos-bl {
  bottom: 0;
  left: 0;
}

.pos-br {
  bottom: 0;
  right: 0;
}

.d-table-cell-centered {
  display: table-cell !important;
  vertical-align: middle !important;
}

.page-content-spacer {
  height: 80px;
}

.test-blue {
  background-color: blue !important;
}

.test-orange {
  background-color: orange !important;
}

#swup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.background-gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#161626), to(#323140)) !important;
  background-image: linear-gradient(0deg, #161626 0%, #323140 100%) !important;
  position: absolute;
  width: 100%;
  height: 100%;
}

.background-fill {
  background-color: #161626 !important;
  position: absolute;
  width: 100%;
  height: 100%;
}

.topbar-large {
  background-color: #707dbd !important;
  position: absolute;
  width: calc(100% - 150px);
  right: 0;
  height: 26px;
}

#stars-bg {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 1437px;
  min-height: 100vh;
  position: absolute;
  top: 0vh;
  left: -0px;
}

.stars-fg {
  width: 1437px;
  height: 654px;
  position: absolute;
  background-image: url("../imgs/stars-fg.svg");
}

@media (min-width: 1725.4px), (min-height: 785.8px) {
  .stars-fg {
    height: 90vh;
    width: calc(90vh * 2.19725);
  }
}

#stars-fg-tr {
  left: 0px;
  top: 0px;
}

#stars-fg-tl {
  left: -1437px;
  top: 0px;
}

@media (min-width: 1725.4px), (min-height: 785.8px) {
  #stars-fg-tl {
    left: calc(-90vh * 2.19725);
  }
}

#stars-fg-bl {
  left: -1437px;
  top: 654px;
}

@media (min-width: 1725.4px), (min-height: 785.8px) {
  #stars-fg-bl {
    left: calc(-90vh * 2.19725);
    top: 90vh;
  }
}

#stars-fg-br {
  left: 0;
  top: 654px;
}

@media (min-width: 1725.4px), (min-height: 785.8px) {
  #stars-fg-br {
    top: 90vh;
  }
}

#stars-anim {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-animation-name: stars-pan;
          animation-name: stars-pan;
  -webkit-animation-duration: 220s;
          animation-duration: 220s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background-image: url("../imgs/stars-fg.svg");
  background-repeat: repeat;
  pointer-events: none;
}

@media (min-width: 1725.4px), (min-height: 785.8px) {
  #stars-anim {
    -webkit-animation-name: stars-pan-big;
            animation-name: stars-pan-big;
  }
}

@-webkit-keyframes stars-pan {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(1437px, calc(654px * -1));
            transform: translate(1437px, calc(654px * -1));
  }
}

@keyframes stars-pan {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(1437px, calc(654px * -1));
            transform: translate(1437px, calc(654px * -1));
  }
}

@-webkit-keyframes stars-pan-big {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(calc(90vh * 2.19725), -90vh);
            transform: translate(calc(90vh * 2.19725), -90vh);
  }
}

@keyframes stars-pan-big {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(calc(90vh * 2.19725), -90vh);
            transform: translate(calc(90vh * 2.19725), -90vh);
  }
}

#stars-clip-container {
  position: absolute;
  width: 100%;
  height: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 113px), 0 calc(100% - 113px));
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 113px), 0 calc(100% - 113px));
}

@media (max-width: 600px) {
  #stars-clip-container {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 90px), 0 calc(100% - 90px));
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 90px), 0 calc(100% - 90px));
  }
}

#taskbar {
  width: calc(100% - (38px * 2));
  left: 50%;
  margin-left: calc((calc(100% - (38px * 2)) / 2) * -1);
  position: fixed;
  height: 113px;
  bottom: 0;
  border-top: solid 1px rgba(255, 255, 255, 0.33);
  z-index: 11;
}

@media (max-width: 600px) {
  #taskbar {
    height: 90px;
    width: calc(100% - (25px * 2));
    left: 50%;
    margin-left: calc((calc(100% - (25px * 2)) / 2) * -1);
  }
}

#taskbar-contents {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#taskbar-main-button-wrapper {
  display: none;
  height: 38px;
  top: 50%;
  margin-top: -19px;
  position: absolute;
  width: 38px;
}

@media (max-width: 600px) {
  #taskbar-main-button-wrapper {
    display: none;
  }
}

#taskbar-main-button {
  position: absolute;
  height: 100%;
  top: 50%;
  margin-top: calc((100% / 2) * -1);
  width: 100%;
  left: 50%;
  margin-left: calc((100% / 2) * -1);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

#taskbar-main-button:hover {
  height: 42px !important;
  top: 50% !important;
  margin-top: -21px !important;
  width: 42px;
  left: 50%;
  margin-left: -21px !important;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

#taskbar-main-button:active {
  height: 34px !important;
  top: 50% !important;
  margin-top: -17px !important;
  width: 34px;
  left: 50%;
  margin-left: -17px !important;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.taskbar-button-box {
  width: 15.2px;
  height: 15.2px;
  background: white;
  position: absolute;
  border-radius: 2px;
}

#taskbar-nav-buttons-container {
  position: absolute;
  height: 38px;
  top: 50%;
  margin-top: -19px;
  width: 340px;
  left: 50%;
  margin-left: -170px;
}

@media (max-width: 600px) {
  #taskbar-nav-buttons-container {
    width: 100%;
    left: 50%;
    margin-left: calc((100% / 2) * -1);
  }
}

.taskbar-nav-button-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 24px;
  width: 20px;
  height: 100%;
  border-color: #00000000 !important;
  float: left;
  margin-left: 75px;
  margin-right: 75px;
  color: white;
  width: 20px;
  position: relative;
}

@media (max-width: 600px) {
  .taskbar-nav-button-wrapper {
    margin-left: 0px;
    margin-right: calc((100% - 60px) / 2);
  }
}

#home-link-wrapper-mobile {
  display: none;
}

@media (max-width: 600px) {
  #home-link-wrapper-mobile {
    display: table;
    pointer-events: none;
    margin-left: 0px !important;
    left: 0px !important;
  }
}

#home-link-wrapper {
  margin-left: 0px !important;
  left: 0px !important;
}

#home-link-image {
  left: 0 !important;
  position: absolute !important;
  margin-left: 0px !important;
  height: 50px;
  top: 50%;
  margin-top: -25px;
}

#chat-link-wrapper {
  display: none;
}

@media (max-width: 600px) {
  #chat-link-wrapper {
    margin-right: 0px !important;
  }
}

@media (max-width: 600px) {
  #portfolio-link-wrapper {
    margin-right: 0px !important;
  }
}

#check-anim {
  position: absolute !important;
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  left: -8px;
  top: -8px;
}

.taskbar-nav-button {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-color: white;
  display: table;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.taskbar-nav-button .taskbar-button-image {
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

@media (max-width: 600px) {
  .taskbar-nav-button .taskbar-button-image {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.taskbar-nav-button .nav-text-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -36px;
}

.taskbar-nav-button .nav-text {
  font-family: "made_regular", Made Medium, sans-serif;
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50px) !important;
          transform: translate(-50%, -50px) !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  pointer-events: none;
  top: 0;
  opacity: 0;
  background: radial-gradient(ellipse at center, #161626 0%, rgba(22, 22, 38, 0.301) 40%, rgba(22, 22, 38, 0.101) 55%, rgba(22, 22, 38, 0) 75%);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: table;
}

.taskbar-nav-button .nav-text#nav-text-home {
  margin-left: -10px;
}

@media (max-width: 600px) {
  .taskbar-nav-button .nav-text {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 90px), 0 calc(100% - 90px));
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 90px), 0 calc(100% - 90px));
  }
}

.taskbar-nav-button .nav-text-content {
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 10px;
  text-shadow: -0px -0px 10px black;
}

.taskbar-nav-button .nav-text-active {
  -webkit-transform: translate(-50%, -60px) !important;
          transform: translate(-50%, -60px) !important;
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.taskbar-nav-button .lottie-button-wrapper {
  position: absolute;
  text-align: center;
}

.taskbar-nav-button .lottie-anim {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.taskbar-nav-button .nav-anim-text-wrapper {
  position: absolute;
  height: 41px;
  top: 50%;
  margin-top: -20.5px;
}

.taskbar-nav-button .nav-anim-text-wrapper#about-anim-text-wrapper {
  width: 60px;
  left: 50%;
  margin-left: -30px;
}

@media (max-width: 600px) {
  .taskbar-nav-button .nav-anim-text-wrapper#about-anim-text-wrapper {
    width: 60px;
    left: 50%;
    margin-left: -30px;
  }
}

.taskbar-nav-button .nav-anim-text-wrapper#home-anim-text-wrapper {
  width: 90px;
}

.taskbar-nav-button .nav-anim-text-wrapper#port-anim-text-wrapper {
  width: 75px;
  left: 50%;
  margin-left: -37.5px;
}

@media (max-width: 600px) {
  .taskbar-nav-button .nav-anim-text-wrapper#port-anim-text-wrapper {
    width: 60px;
    right: 8px;
  }
}

.taskbar-nav-button #info-button-anim {
  width: 100%;
  height: 70px;
  top: -9.5px;
}

@media (max-width: 600px) {
  .taskbar-nav-button #info-button-anim {
    top: -4px;
    height: 64px;
  }
}

.taskbar-nav-button #portfolio-button-anim {
  width: 100%;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  top: 18px;
}

.taskbar-nav-button #home-button-anim {
  width: 100%;
  left: -10px;
  height: 72px;
  top: 50%;
  margin-top: -36px;
}

@media (max-width: 600px) {
  .taskbar-nav-button #home-button-anim {
    height: 60px;
    top: 50%;
    margin-top: -30px;
    left: -20px;
  }
}

.taskbar-nav-button-active {
  color: white !important;
}

.taskbar-nav-button-active:hover {
  color: white;
  border-radius: 10px;
}

#home-link-mobile {
  display: none;
}

@media (max-width: 600px) {
  #home-link-mobile {
    display: block;
    pointer-events: none;
  }
}

@media (max-width: 600px) {
  #portfolio-link {
    margin-right: 0px;
    right: 0;
  }
}

@media (max-width: 600px) {
  #chat-link {
    margin-right: 0px;
    right: 0;
  }
}

a.window-button {
  text-decoration: none !important;
}

a.back-button {
  text-decoration: none !important;
}

.taskbar-button-text, .taskbar-button-text-link {
  display: table-cell;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  font-family: "plex_light", Plex Light, sans-serif;
  color: white;
  text-decoration: none !important;
}

@media (max-width: 600px) {
  .taskbar-button-text, .taskbar-button-text-link {
    font-size: 19px;
  }
}

.taskbar-button-text:hover, .taskbar-button-text-link:hover {
  text-decoration: none !important;
}

.taskbar-button-text-link {
  color: white !important;
}

#about-link-image {
  display: none;
}

.taskbar-button-image {
  width: 70px;
  left: 50%;
  margin-left: -35px !important;
  height: 50px !important;
  top: 50% !important;
  margin-top: -25px !important;
  display: none;
  position: absolute;
}

@media (max-width: 600px) {
  #home-link-mobile .taskbar-button-image {
    margin-left: 0px !important;
    left: -15px !important;
  }
}

#portfolio-link .taskbar-button-image {
  margin-top: -27px !important;
}

@media (max-width: 600px) {
  #portfolio-link .taskbar-button-image {
    margin-right: 0px !important;
    left: auto !important;
    right: -12px !important;
    margin-left: 0px !important;
  }
}

#about-link .taskbar-button-image {
  height: 60px !important;
  top: 50% !important;
  margin-top: -30px !important;
  margin-top: -25px !important;
}

@media (max-width: 600px) {
  #chat-link .taskbar-button-image {
    margin-right: 0px !important;
    left: auto !important;
    right: -12px !important;
    margin-left: 0px !important;
  }
}

#back-anim {
  position: absolute;
  left: 16px;
  width: 50px;
  height: 50px;
  bottom: 18px;
  pointer-events: none;
}

.lottie-link {
  position: absolute;
}

#social-buttons-container {
  position: absolute;
  height: 34px;
  top: 50%;
  margin-top: -17px;
  width: 103px;
  right: calc(8.75px * -1);
}

@media (max-width: 600px) {
  #social-buttons-container {
    display: none;
  }
}

.social-media-button {
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  border-color: white;
  display: table;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 24px;
  width: 34px;
  background-color: white;
  float: left;
  height: 100%;
  margin-left: 8.75px;
  margin-right: 8.75px;
  border-radius: 5px;
}

.social-media-button:hover {
  background-color: rgba(0, 0, 0, 0.349);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
}

.social-media-button:active {
  background-color: rgba(0, 0, 0, 0.349);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
  -webkit-transform: scale(0.985, 0.985);
          transform: scale(0.985, 0.985);
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.social-media-button:hover {
  background-color: white !important;
  border-radius: 2px !important;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.social-media-icon {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
}

.window {
  position: absolute !important;
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  background: rgba(82, 87, 124, 0.8);
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
          clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  min-height: 130px;
  min-width: 132px;
  -webkit-transition: opacity 0.15s, -webkit-clip-path 0.3s, -webkit-transform 0.15s;
  transition: opacity 0.15s, -webkit-clip-path 0.3s, -webkit-transform 0.15s;
  transition: clip-path 0.3s, opacity 0.15s, transform 0.15s;
  transition: clip-path 0.3s, opacity 0.15s, transform 0.15s, -webkit-clip-path 0.3s, -webkit-transform 0.15s;
}

.window-close {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%) !important;
          clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%) !important;
}

.window-close-msedge {
  opacity: 0.0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.window-outline {
  pointer-events: none;
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  border-color: #161626;
  position: absolute;
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}

.window-outline-close {
  height: 0px !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.topbar {
  background-color: rgba(255, 255, 255, 0.349);
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  border-width: 1px;
  height: 27px;
  /*topbar-height*/
  font-style: italic;
  margin: 0;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  display: table;
  width: calc(100% + 2px);
  position: absolute;
}

.window-body {
  margin-top: 10px;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 10px;
  height: calc(100% - 27px - 10px);
  top: 27px;
  position: relative;
}

.window-button-spacer {
  height: calc(38px + (13px * 2));
  position: relative;
}

@media (max-width: 600px) {
  .window-button-spacer {
    display: none;
  }
}

.window-button {
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  border-color: white;
  display: table;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 24px;
  width: 130px;
  left: 50%;
  margin-left: -65px;
  height: 38px;
  top: 50%;
  margin-top: -19px;
  position: absolute;
  display: table;
}

.window-button:hover {
  background-color: rgba(0, 0, 0, 0.349);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
}

.window-button:active {
  background-color: rgba(0, 0, 0, 0.349);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
  -webkit-transform: scale(0.985, 0.985);
          transform: scale(0.985, 0.985);
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

@media (max-width: 600px) {
  .window-button {
    display: none;
  }
}

.button-collapse {
  width: 40px;
  left: 50%;
  margin-left: -20px !important;
  border-radius: 100px !important;
  border-color: #00000000;
  -webkit-transition-duration: 5s;
          transition-duration: 5s;
}

.button-text-collapse {
  -webkit-animation-name: button-text-collapse-anim;
          animation-name: button-text-collapse-anim;
  -webkit-animation-duration: 0.05s;
          animation-duration: 0.05s;
  position: absolute;
  opacity: 0;
}

@-webkit-keyframes button-text-collapse-anim {}

@keyframes button-text-collapse-anim {}#about-me-text {
  overflow: auto;
  height: calc(100% - calc(38px + (13px * 2)));
}

@media (max-width: 600px) {
  #about-me-text {
    height: 100%;
    padding-bottom: 30px;
  }
}

#email-text {
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  overflow: auto;
  height: calc(100% - calc(38px + (13px * 2)));
}

.editable-text {
  height: 100%;
  font-size: 22px;
}

#email-text {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#window-about-me {
  width: 293px;
  height: 220px;
  left: calc(100% - 293px - 60px);
  top: 100px;
}

@media (min-width: 1500px) {
  #window-about-me {
    height: 30vh;
    width: calc(30vh * 1.33182);
    top: 15%;
    left: calc(100% - 30vh * 1.33182 - 60px);
  }
}

@media (max-width: 600px) {
  #window-about-me {
    height: 150px;
    top: 15%;
    left: calc(50% - (293px / 2));
  }
}

#window-email {
  width: 288px;
  height: 220px;
  left: 60px;
  top: 200px;
}

@media (min-width: 1500px) {
  #window-email {
    height: 30vh;
    width: calc((30vh * 1.30909)) !important;
  }
}

@media (max-width: 600px) {
  #window-email {
    display: none;
  }
}

#window-reel {
  width: 534px;
  height: 327px;
  left: calc(50% - (534px / 2));
  top: calc(50% - (327px / 2) - (113px / 2));
}

@media (min-width: 1500px) {
  #window-reel {
    height: 45vh;
    width: calc((45vh - 27px) * 1.77778) !important;
    left: calc(50% - ((45vh - 27px) * 1.77778 / 2));
    top: calc(50% - (45vh / 2));
  }
}

@media (max-width: 600px) {
  #window-reel {
    height: calc((100vw - (30px * 2)) * (9 / 16) + 27px);
    width: calc(100vw - (10px * 2));
    left: 50%;
    margin-left: calc((calc(100vw - (10px * 2)) / 2) * -1);
    top: calc(150px + 15% + 5px);
  }
}

#reel-body {
  background: white;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  height: calc(100% - 27px - 10px * 2);
}

.close-button {
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  border-color: white;
  display: table;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 24px;
  border-color: black;
  border-width: 1px;
  background-color: #00000000;
  width: 16px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  right: 9px;
  position: absolute;
  border-radius: 0px;
  line-height: 0px;
}

.close-button:hover {
  background-color: rgba(0, 0, 0, 0.349);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
}

.close-button:active {
  background-color: rgba(0, 0, 0, 0.349);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 7px;
  -webkit-transform: scale(0.985, 0.985);
          transform: scale(0.985, 0.985);
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.close-button-icon {
  width: 14px;
}

.large-window {
  position: absolute;
  top: 26px;
  width: calc(100% + 2px);
  height: calc(100% - 113px - 26px);
  overflow: auto;
}

@media (max-width: 600px) {
  .large-window {
    height: calc(100% - 90px - 26px);
  }
}

.large-window-wrapper {
  z-index: 100;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.large-window-body {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  padding-bottom: 80px;
}

@media (max-width: 600px) {
  .large-window-body {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
  }
}

@media (max-width: 950px) {
  .large-window-body {
    padding-bottom: 0px;
  }
}

.large-window-body-wrapper {
  height: calc(100% - 27px);
  top: 27px;
  position: relative;
  overflow: auto;
}

#large-window-details {
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.large-window-details-active {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.resume-large-window-body {
  margin-top: 0px;
}

#toolbarContainer {
  background-color: white;
}

#about-me-margins {
  margin-right: 90px;
  margin-left: 90px;
}

#logo-container {
  position: fixed;
  left: 38px;
  top: 30px;
  height: 46px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html.window-active #logo-container {
  left: -44px;
  top: -11px;
}

#logo-icon {
  width: 39px;
  display: inline-block;
}

#logo-text {
  position: relative;
  display: inline-block;
  font-size: 23px;
  font-weight: bold;
  margin-left: calc(20px - 0.3em);
  top: 7px;
  font-family: "made_regular", Made Regular, Sans;
  letter-spacing: 0.5px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  mix-blend-mode: screen;
  z-index: 9999;
  opacity: 0.2;
  pointer-events: none;
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
}

#overlay-clip {
  position: fixed;
}

#portfolio-body {
  margin-top: -25px;
}

@media (max-width: 1160px) {
  #portfolio-body {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (max-width: 1100px) {
  #portfolio-body {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 767.98px) {
  #portfolio-body {
    margin-top: 0px;
  }
}

.grid-container {
  height: 100%;
  width: 100%;
}

.portfolio-slot {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 0px !important;
}

@media (max-width: 576px) {
  .portfolio-slot {
    padding-bottom: 26px !important;
  }
}

@media (max-width: 767.98px) {
  .portfolio-slot {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
  }
}

.portfolio-slot-right {
  -webkit-transform: translate(0, 25%);
          transform: translate(0, 25%);
}

@media (max-width: 950px) {
  .portfolio-slot-right {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.portfolio-slot-left {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@media (max-width: 950px) {
  .portfolio-slot-left {
    -webkit-transform: translate(0, calc(-100% - 26px));
            transform: translate(0, calc(-100% - 26px));
  }
}

@media (max-width: 767.98px) {
  .portfolio-slot-left {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media (max-width: 950px) {
  .portfolio-slot-last {
    -webkit-transform: translate(calc(-100%), 0);
            transform: translate(calc(-100%), 0);
  }
}

@media (max-width: 767.98px) {
  .portfolio-slot-last {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media (max-width: 767.98px) {
  .hide-when-md-one-column {
    display: none;
  }
}

.portfolio-row {
  width: 100% !important;
  padding-bottom: 26px;
  margin: auto;
}

@media (max-width: 767.98px) {
  .portfolio-row {
    padding-bottom: 0px;
  }
}

.portfolio-slot-window-dummy {
  padding-top: 56.25%;
  position: relative;
  border-color: white !important;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  opacity: 1;
}

.portfolio-header-wrapper {
  overflow: overlay;
  left: 0;
}

@media (max-width: 950px) {
  .portfolio-header-wrapper {
    display: none;
  }
}

.portfolio-header-small {
  display: none;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 45px;
}

@media (max-width: 950px) {
  .portfolio-header-small {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .portfolio-header-small {
    text-align: center;
  }
}

.portfolio-header-desc {
  margin-right: 30px;
}

@media (max-width: 1160px) {
  .portfolio-header-desc {
    margin-right: 0px;
  }
}

@media (max-width: 950px) {
  .portfolio-header-desc {
    max-width: 500px;
  }
}

@media (max-width: 767.98px) {
  .portfolio-header-desc {
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
  }
}

.portfolio-header {
  word-spacing: 1000px;
}

@media (max-width: 1160px) {
  .portfolio-header {
    padding-bottom: 10px;
  }
}

@media (max-width: 950px) {
  .portfolio-header {
    padding-bottom: 0px;
  }
}

@media (max-width: 767.98px) {
  .portfolio-header {
    padding-bottom: 10px;
    word-spacing: 0px;
  }
}

.portfolio-slot-window {
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  padding-top: 56.25%;
  position: relative;
  border-color: white !important;
  overflow: hidden;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  opacity: 1;
  transition-duration: 0.4s;
}

.portfolio-slot-window-active, .portfolio-slot-window:active {
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  -webkit-transform: scale(0.985, 0.985);
          transform: scale(0.985, 0.985);
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.portfolio-slot-window-clear {
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.portfolio-slot-window:hover {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.28, 0.66, 0.32, 0.99), -webkit-box-shadow 0.5s;
  transition: -webkit-transform 1s cubic-bezier(0.28, 0.66, 0.32, 0.99), -webkit-box-shadow 0.5s;
  transition: transform 1s cubic-bezier(0.28, 0.66, 0.32, 0.99), box-shadow 0.5s;
  transition: transform 1s cubic-bezier(0.28, 0.66, 0.32, 0.99), box-shadow 0.5s, -webkit-transform 1s cubic-bezier(0.28, 0.66, 0.32, 0.99), -webkit-box-shadow 0.5s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
          box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.window-large-container {
  width: 100% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 55px;
}

@media (max-width: 767.98px) {
  .window-large-container {
    margin-right: 0px !important;
    margin-left: 0px !important;
    width: 100% !important;
  }
}

@media (max-width: 600px) {
  .window-large-container {
    margin-top: 50px;
  }
}

#portfolio-large-container {
  margin-top: 10px;
}

@media (max-width: 1500px) {
  #portfolio-large-container {
    margin-top: 20px;
  }
}

@media (max-width: 1350px) {
  #portfolio-large-container {
    margin-top: 50px;
  }
}

@media (max-width: 1250px) {
  #portfolio-large-container {
    margin-top: 70px;
  }
}

@media (max-width: 900px) {
  #portfolio-large-container {
    margin-top: 55px;
  }
}

@media (max-width: 600px) {
  #portfolio-large-container {
    margin-top: 50px;
  }
}

.section-header {
  opacity: 1;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.a-0-trans {
  opacity: 0 !important;
  -webkit-transition-timing-function: ease-out !important;
          transition-timing-function: ease-out !important;
}

.slow-trans {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.image-clip-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-slot-icon {
  position: absolute;
  height: 100%;
}

.portfolio-overlay {
  background-color: rgba(0, 0, 0, 0.851);
  color: white;
  height: calc(100% - (0px * 2));
  width: calc(100% - (0px * 2));
  left: 0px;
  position: absolute;
  top: 0px;
  opacity: 0;
  font-size: 26px;
  text-align: center;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  vertical-align: middle !important;
}

.portfolio-overlay:hover {
  opacity: 1;
}

.portfolio-text-overlay-h {
  font-family: "made_medium", Made Medium, sans-serif;
}

.portfolio-text-overlay-b {
  font-size: 22px;
}

.back-button {
  position: relative;
  vertical-align: middle;
}

.back-button-image {
  background-image: url("../imgs/back.svg");
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 14px;
  margin-left: 2px;
}

.port-det-title-style {
  letter-spacing: 1px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 60px;
  font-size: 50px !important;
}

@media (max-width: 1100px) {
  .port-det-title-style {
    font-size: 40px !important;
    line-height: 50px;
  }
}

@media (max-width: 991px) {
  .port-det-title-style {
    font-size: 45px !important;
    line-height: 50px;
  }
}

@media (max-width: 600px) {
  .port-det-title-style {
    font-size: 45px !important;
    line-height: 50px;
  }
}

.port-det-role-style {
  font-size: 24px;
  margin-bottom: 30px;
}

@media (max-width: 1100px) {
  .port-det-role-style {
    margin-top: -3px;
    font-size: 21px;
  }
}

.port-det-desc {
  font-size: 19px;
  margin-bottom: 70px !important;
}

@media (max-width: 1500px) {
  .port-det-desc {
    margin-bottom: 40px !important;
  }
}

@media (max-width: 850px) {
  .port-det-desc {
    font-size: 19px;
  }
}

@media (max-width: 991px) {
  .port-det-desc {
    max-width: 700px;
  }
}

@media (max-width: 600px) {
  .port-det-desc {
    margin-bottom: 40px !important;
  }
}

@media (max-width: 991px) {
  .col-lg-6 {
    margin-bottom: 80px !important;
  }
}

@media (max-width: 600px) {
  .col-lg-6 {
    margin-bottom: 40px !important;
  }
}

.blockquote img {
  width: 40px;
  border-radius: 50%;
}

.portfolio-detail-image-wrapper {
  margin-bottom: 30px;
  position: relative;
}

.port-det-image {
  overflow: hidden;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #161626;
  border-color: white;
  border-width: 1px;
  background: black;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.port-det-image:hover {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.28, 0.66, 0.32, 0.99), -webkit-box-shadow 0.5s;
  transition: -webkit-transform 1s cubic-bezier(0.28, 0.66, 0.32, 0.99), -webkit-box-shadow 0.5s;
  transition: transform 1s cubic-bezier(0.28, 0.66, 0.32, 0.99), box-shadow 0.5s;
  transition: transform 1s cubic-bezier(0.28, 0.66, 0.32, 0.99), box-shadow 0.5s, -webkit-transform 1s cubic-bezier(0.28, 0.66, 0.32, 0.99), -webkit-box-shadow 0.5s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
          box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.portfolio-detail-section {
  overflow: none !important;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 4em;
  margin-left: 0px;
  margin-right: 0px;
}

@media (max-width: 1100px) {
  .portfolio-detail-section {
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  .portfolio-detail-section {
    margin-top: 40px;
  }
}

.portfolio-detail-container {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 110px;
  margin-right: 110px;
}

@media (max-width: 1200px) {
  .portfolio-detail-container {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (max-width: 1100px) {
  .portfolio-detail-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .portfolio-detail-container {
    margin-top: 0px;
  }
}

@media (max-width: 600px) {
  .portfolio-detail-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 350px) {
  .portfolio-detail-container {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.jm-sticky-top {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  margin-top: -7px;
  top: 50px;
}

@media (max-width: 991px) {
  .jm-sticky-top {
    margin-top: 0px;
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.jmed-sticky-top {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  margin-top: -7px;
  top: 50px;
}

@media (max-width: 1100px) {
  .jmed-sticky-top {
    top: 50px;
  }
}

@media (max-width: 991px) {
  .jmed-sticky-top {
    margin-top: 0px;
    position: relative;
    top: 0;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px !important;
  }
}

.special-force-break::before {
  content: "\A";
  white-space: pre;
}

.blockquote {
  margin-bottom: 30px;
}

.blockquote p {
  font-size: 1.15rem;
}

.blockquote p:first-child {
  border-left: 10px #707dbd solid;
  margin-bottom: 20px;
}

.blockquote p {
  padding-left: 20px;
}

.portfolio-quote {
  margin-top: 50px;
  margin-bottom: 50px;
}

.portfolio-skills-right {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-size: 950px) {
  .portfolio-skills-right {
    display: block;
  }
}

.skills-inline {
  display: none;
}

@media (min-size: 950px) {
  .skills-inline {
    display: block;
  }
}

#pdf-viewer {
  margin: auto;
}

.resume-button {
  margin-top: 50px;
}

@media (max-width: 991px) {
  .resume-button {
    margin-top: 40px;
  }
}

.about-left {
  padding-right: 40px;
}

@media (max-width: 991px) {
  .about-left {
    padding-right: 0px;
    padding-left: 0px;
  }
}

#about-body {
  padding-bottom: 0px !important;
}

.sub-section-divider {
  height: 60px;
}

.section-divider {
  height: 95px;
}

@media (max-width: 600px) {
  .section-divider {
    height: 80px;
  }
}

.skill-pillar-wrapper {
  padding: 0px;
}

@media (max-width: 767.98px) {
  .skill-pillar-top-row {
    width: 50% !important;
  }
}

.skill-pillar {
  margin-left: 10px;
  margin-right: 10px;
  background: #474c6b;
  background: rgba(89, 97, 139, 0.6);
  border-radius: 7px;
  padding-top: 10px;
  padding-bottom: 15px;
}

@media (max-width: 767.98px) {
  .skill-pillar {
    margin-left: calc(25%);
    margin-right: calc(25%);
    margin-bottom: 10px;
  }
  .skill-pillar-top-row .skill-pillar {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767.98px) and (max-width: 350px) {
  .skill-pillar-top-row .skill-pillar {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 6px;
  }
}

.skill-pillar-icon {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80px;
  height: 90px;
}

.skill-pillar-divider {
  opacity: 1;
  width: 50px;
  margin-top: 12px !important;
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.skill-pillar-title {
  font-size: 22px;
  font-weight: 600;
  font-family: "made_regular", Made Medium, sans-serif;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 10px;
}

@media (max-width: 350px) {
  .skill-pillar-title {
    font-size: 19px !important;
  }
}

.skill-pillar-traits {
  text-align: center;
  font-size: 21px;
  margin-top: 15px;
  line-height: 35px;
}

.skills-row {
  margin-right: -10px;
  margin-left: -10px;
}

.skill-bar-percent {
  /* color: #777777; */
  font-size: 19px;
  margin-bottom: 10px;
  font-family: "made_regular", Made Medium, sans-serif;
  text-align: left;
}

@media (max-width: 991px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 767.98px) {
  .col-lg-6 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.myself-wrap {
  background: #474c6b;
  background: rgba(89, 97, 139, 0.6);
  border-radius: 7px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  text-align: center;
}

@media (max-width: 991px) {
  .myself-wrap {
    margin-top: 95px;
  }
}

@media (max-width: 991px) and (max-width: 600px) {
  .myself-wrap {
    margin-top: 80px;
  }
}

.myself-wrap .desc {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
}

@media (max-width: 991px) {
  .myself-wrap .desc {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.myself-wrap .desc p {
  margin-bottom: 5px;
}

.myself-wrap .desc .lnr {
  font-size: 20px;
}

@media (max-width: 991px) {
  .myself-wrap {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

#about-me-image {
  max-height: 250px;
}

@media (max-width: 991px) {
  #about-me-image {
    max-width: 200px;
  }
}

#myself-name {
  font-family: "made_regular", Made Regular, Sans;
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2px;
}

#myself-divider {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

@media (max-width: 991px) {
  #myself-divider {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}

.myself-info {
  font-size: 21px;
}

.myself-desc {
  font-size: 21px;
}

.lnr {
  font-size: 19px;
}

.headshot-wrapper {
  border-radius: 7px;
  overflow: hidden;
  margin: auto;
  margin-top: 8px;
}

@media (max-width: 991px) {
  .headshot-wrapper {
    display: inline-block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.skillbar-bar {
  background-color: #707dbd;
  -webkit-transition: 1s;
  transition: 1s;
}

.skillbar {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.skillbar .skillwrap {
  background-color: rgba(255, 255, 255, 0.22);
  /* border-radius: 10px; */
  border-radius: 5px;
  overflow: hidden;
}

.skillbar-bar {
  /* border-radius: 10px; */
  height: 8px;
  width: 0px;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

#skillbars {
  margin-bottom: -20px;
}

@media (min-width: 1100px) {
  .about-container {
    max-width: 1000px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.skill {
  font-size: 19px;
  background: #474c6b;
  background: rgba(89, 97, 139, 0.6);
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 5px;
  margin-left: 5px;
  white-space: nowrap;
  border-radius: 7px;
  line-height: 55px;
  vertical-align: top;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1400px) {
  .skill {
    font-size: 15px !important;
  }
}

.skills {
  margin-top: -7px;
  display: inline-block;
}

.myself-sticky-top {
  text-align: center;
}

@media (max-width: 991px) {
  .myself-sticky-top {
    max-width: 500px;
  }
}

.footer-text {
  /* padding-top: 20px; */
  text-align: center;
  font-size: 14px !important;
}

.footer-text a {
  color: #b4b4b4;
}

.footer-area {
  padding-top: 50px;
  /* background-color: #222222; */
  padding-bottom: 10px !important;
}

.swup-transition-fade {
  opacity: 1;
  -webkit-transition: 500ms;
  transition: 500ms;
}

html.is-animating .swup-transition-fade {
  opacity: 0;
}

.wipe-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #707dbd;
  position: absolute;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: 10;
}

#wipe-overlay-clip-wrapper {
  position: absolute;
  top: 0;
  height: calc(100% - 113px);
  width: 100%;
  pointer-events: none;
}

@media (max-width: 600px) {
  #wipe-overlay-clip-wrapper {
    height: calc(100% - 90px);
  }
}

.swup-transition-wipe {
  -webkit-transition: -webkit-transform 0.2s, -webkit-transform-origin 0s;
  transition: -webkit-transform 0.2s, -webkit-transform-origin 0s;
  transition: transform 0.2s, transform-origin 0s;
  transition: transform 0.2s, transform-origin 0s, -webkit-transform 0.2s, -webkit-transform-origin 0s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

html.is-leaving .swup-transition-wipe {
  -webkit-transition: -webkit-transform 0.25s, -webkit-transform-origin 0s;
  transition: -webkit-transform 0.25s, -webkit-transform-origin 0s;
  transition: transform 0.25s, transform-origin 0s;
  transition: transform 0.25s, transform-origin 0s, -webkit-transform 0.25s, -webkit-transform-origin 0s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom !important;
          transform-origin: bottom !important;
}

html.is-animating .swup-transition-wipe {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
}

@-webkit-keyframes wipe-vertical-on {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes wipe-vertical-on {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

path {
  vector-effect: non-scaling-stroke;
  stroke-width: 2px !important;
}

g {
  vector-effect: non-scaling-stroke;
  stroke-width: 2px !important;
}

svg {
  vector-effect: non-scaling-stroke;
  stroke-width: 2px !important;
}

#about-a {
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */