:root {
	--main-color:#06c;
}

html 
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	cursor: url("/imgs/cursor.svg"), auto;
	font-family: "Verdana", Verdana, sans-serif;
	font-weight: 900;

	overflow: hidden;

	color: #000000;
}

p
{
	color: #000000;
}

body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	color: #000000;
}

*:focus 
{
	outline: none;
}

::selection 
{
	background: #9DCAEC; /* WebKit/Blink Browsers */
}

::-moz-selection 
{
	background: #9DCAEC; /* Gecko Browsers */
	background-color:red;
}

/* --------------------------------------------------------------------------
	Scrollbar
	-------------------------------------------------------------------------- */

	/* width */
	::-webkit-scrollbar 
	{
		width: 5px;
		margin-bottom: 10px;
		margin-right: 20px;
		padding-right: 20px;
		right: 200px;
		position: fixed;
	}

	/* Track */
	::-webkit-scrollbar-track 
	{
		background: #f1f1f1; 
		background-color: #FFFFFF00;
		margin-bottom: 1px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb 
	{
		background: #888;
		margin-left: 10px;
		margin-right: -10px; 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover 
	{
		background: #555; 
	}

/* 
===============================================================================
--							       CLASSES									 --
=============================================================================== 
*/


/* --------------------------------------------------------------------------
	Generic
	-------------------------------------------------------------------------- */

	.box
	{
		border: 1px solid #000;
		box-sizing: content-box;
	}

	.box-small
	{
		border: 0.5px solid #000;
	}


	.taskbar-button-box-row
	{ 
		height: 100%;
		display: flex;
	}

	.taskbar-button-box-wrapper
	{
		flex: 1 1 0px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.taskbar-button-box
	{
		height: 8px;
		width: 8px;
	}

/* --------------------------------------------------------------------------
	Text
	-------------------------------------------------------------------------- */
	.text-vert-center-parent
	{
		display: table; 
	}

	.text-vert-center
	{
		display: table-cell;
		vertical-align: middle;
	}

	.unselectable-text
	{
		-webkit-user-select: none;  /* Chrome all / Safari all */
		-moz-user-select: none;     /* Firefox all */
		-ms-user-select: none;      /* IE 10+ */
		user-select: none;          /* Likely future */     
	}

/* --------------------------------------------------------------------------
	Windows
	-------------------------------------------------------------------------- */

	.window
	{
		position: absolute;
	}

	.draggable
	{
	}

	.window-margins
	{
		padding-left: 10px;
		padding-right: 5px;
		margin: 0;
	}

	.window-body
	{
		/*background-color: blue;*/
		margin-top: 0px;
		padding-top: 0px;
	}

	.topbar
	{
		height:12%;
		background-color: grey;
		margin: 0;
		padding: 0;
		margin-top: -1px;
		margin-left: -1px;
		margin-right: -1px;
		left: 0;
		display: table; 
		width: 100%;
	}

	.topbar-text
	{
		display: table-cell;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;   
		-ms-user-select: none;    
		user-select: none;      
	}

	.editable-text-container
	{
		overflow: auto; 
		/*background-color: red;*/
	}

	.editable-text
	{
		margin: 0;
		margin-top: 0px;    
		margin-bottom: 0px;    
		margin-block-start: 5px;
		/*margin-block-end: 5px;*/
		height: 96%;
		/*background-color: blue;*/
	}

/* --------------------------------------------------------------------------
	Program Icons
	-------------------------------------------------------------------------- */
	.program-button
	{
		/*display:table;*/
	}

	.program-image
	{
		/*display:table-row;*/
		justify-content: center;
		display:flex;
		width: 100%;
		height: 50px;
	}

	.program-text
	{
		/*display:table-row;*/
		text-align: center;
	}

	.dark-overlay
	{
		/*display:table-row;*/
		background-color: black;
		opacity: 0%;
		width: 100%;
		height: 100%;
		position: absolute;
	}
	.dark-overlay-fade-in
	{
		opacity: 50% !important;

		transition: 0.4s;
		transition-timing-function: ease-out;
	}

/* 
===============================================================================
--							       	ID's									 --
=============================================================================== 
*/

#container
{
	min-height: 100%; 
}

#page 
{
	height: 100%;
	width: 100%;
	position:fixed;
	background-image: radial-gradient(circle, rgba(242,226,145,1) 0%, rgba(242,217,118,1) 73%, rgba(242,199,68,1) 100%, rgba(242,199,68,1) 100%);
	/*//transform: scale(.3);*/
	/*text-align: center;*/
	background-color: blue;
}

#gradient 
{
	min-height: 100%; 
	height: 100%;
}

#logo-container 
{
	display: flex;
	justify-content: center;
	/*background-color: blue;*/
	height: 100%;
	width: 100%;
	/*margin: auto;*/
	position: absolute;
}

#logo
{
	padding-top: 5%;
	padding-bottom: 10%;
	min-height:200px;
}


#bin
{
	position: absolute;
	right: 40px;
	bottom: 80px;
	width: 45px;
}

#taskbar
{
	position: absolute;
	bottom: 1px;
	width: 100%;
	height: 50px;
	max-height: 5%;
	background-color:blue;
	display: flex;
	justify-content: center;
	align-items: center;
}

#taskbar-bg
{
	width: calc(100% - 2px);
	height: 100%;
	background-color: #aaaaaa;
}

#taskbar-button-box-1
{
	background-color: #EC5C5E;
}
#taskbar-button-box-2
{
	background-color: #EBC92D;
}
#taskbar-button-box-3
{
	background-color: #52BD70;
}
#taskbar-button-box-4
{
	background-color: #4092BE;
}

#button-text
{
	display: table-cell;
	vertical-align: middle;
	font-weight: 550;

	letter-spacing: auto;
	text-indent: auto;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */     
}

#galuga-text
{
	display: table-cell;
	vertical-align: middle;

	font-weight: 550;
	font-family: "Monteros", Monteros, serif;
	font-size: 18px;
}

#galuga-container
{
	display: table; 
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

#taskbar-submenu
{
	background-color: white;
	width: 200px;
	left: 0px;
	bottom: 38px;
	position: absolute;

}

/* --------------------------------------------------------------------------
	Executable Icons
	-------------------------------------------------------------------------- */

	#folder-exe
	{
		position:fixed;
		left: 30px;
		top: 30px;
	}

/* --------------------------------------------------------------------------
	Window Instances
	-------------------------------------------------------------------------- */

	#window-notes
	{
		width: 256px;
		height: 156px;
		max-height: 30%;
		background-color: white;
		right: 50px;
		top: 100px;
		background-color: #f9e1ff;
	}


	#topbar-notes
	{
		background-color: #f1b6ff;
	}


	#body-notes
	{
		/*background-color: #f9e1ff;*/
	}


	#window-console
	{
		width: 256px;
		max-width: 20%;
		height: 156px;
		max-height: 30%;
		background-color: white;
		right: 100px;
		top: 400px;
		background-color: #000000;
	}

	#topbar-console
	{
		background-color: #3a3a3a;
		color: #ffffff;
	}

	#body-console
	{
		/*	background-color: #000000;*/
		color: #ffffff;
	}

	#window-wip
	{
		width: 256px;
		height: 86px;
		background-color: white;
		/*margin-left: calc(50% - (min(256px, 20%) / 2.0));*/
		margin: 0 auto;
		left: calc(50% - 256px / 2.0);
		top: 50px;
		background-color: #EFBFBF;
		/*display: inline-block;*/
	}

	#topbar-wip
	{
		background-color: #FF768A;
		/*color: #ffffff;*/
	}

	#body-wip
	{
		/*	background-color: #000000;*/
		/*color: #ffffff;*/
	}

/* --------------------------------------------------------------------------
	Buttons
	-------------------------------------------------------------------------- */

	#taskbar-button
	{
		position: absolute;
		width: 99px;
		/*max-width: 10%;*/
		/*// top:0;*/
		/*top: 15%;*/
		left: 10px;
		height: 30px;
		background-color: #ededed;

		border-radius: 0px;
		margin-left: 0px;
		margin-right: 0px;
		/*display: table-cell;
		vertical-align: center;*/

/*	transition: all 0.15s ease-in-out;
	transition-timing-function: ease-in-out;
	transition-delay: 0.0s;
	//cursor: url("/imgs/inverted-cursor.svg"), auto;*/
}


/* 
===============================================================================
--							      ANIMS										 --
=============================================================================== 
*/

.logo-slide-anim 
{
	animation-name: logo-slide-keys;
	animation-timing-function: ease-out;
	animation-duration: 0.8s;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}

.window-fade-in 
{
	animation-name: window-fade-in-keys;
	animation-timing-function: ease-out;
	animation-duration: 1.1s;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}

.taskbar-slide-in
{
	animation-name: taskbar-slide-keys;
	animation-timing-function: ease-out;
	animation-duration: 1.1s;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}

/*@keyframes logo-slide-keys 
{
  0%   
  {
  	opacity: 0%;
  	margin-top: 300px;
	animation-timing-function: ease-out;
  }
  70% 
  {
  	margin-top: -5px;
  	animation-timing-function: ease-in-out;
  }
  95%
  {
  	opacity: 100%;
  }
   100% 
  {
  	opacity: 100%;
  	margin-top: 0px;
  	animation-timing-function: ease-out;
  }
}


@keyframes window-fade-in-keys
{
  0%   
  {
  	opacity: 0%;
  }
  60%     
  {
  	opacity: 0%;
  	transform: scale(0.8,0.8);
  }
  100% 
  {
  	opacity: 100%;
  	transform: scale(1.0,1.0);
  }
}

@keyframes taskbar-slide-keys
{
  0%   
  {
  	bottom: -50px;
  }
  60%  
  {
  	bottom: -50px;
  }
  100% 
  {
  	bottom: 0px;
  }
}
*/

/* The element to apply the animation to */

.anim 
{
	animation-name: example;
	animation-timing-function: linear;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}

/* --------------------------------------------------------------------------
	Taskbar Button
	-------------------------------------------------------------------------- */

.taskbar-button--normal
{
	width: 64px;
	margin-left: calc((99px/2.0) - (64px/2.0));

	transition: 0.15s;
	transition-timing-function: ease-out;
}

.taskbar-button--hover
{
	width: 90px;
	margin-left: calc((99px/2.0) - (90px/2.0));	

	transition: 0.4s;
	transition-timing-function: cubic-bezier(.4,1.76,.3,.98);
	/*margin: auto;*/
}

.taskbar-button--active
{
	width: 32px;
	margin-left: calc((99px/2.0) - (32px/2.0));	

	transition: 0.08s;
	transition-timing-function: linear;
}

/* --------------------------------------------------------------------------
	Taskbar Submenu
	-------------------------------------------------------------------------- */

.taskbar-submenu--active
{
	height: 500px !important;
	/*opacity: 100% !important;*/
	visibility: visible;

	transition: 0.3s;
	transition-timing-function: ease-out;
}

.taskbar-submenu--off
{
	height: 0px !important;
	/*opacity: 0%;*/
	visibility: hidden;

	transition: 0.2s;
}

/*#taskbar-button:hover
{
	border-radius: 10px !important;
	background-color: #898989;
	letter-spacing: .95vw;
	text-indent: calc(0.9 * .95 * 1vw);
	transition: 0.5s;
	}*/

/*.buttonHover {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	border-radius: 50px !important;
	}
	/* The animation code */
/*@keyframes example 
{
  0%   
  {
  	border-radius: 0px;
  }
  50%  
  {
  	border-radius: 5px;
  }
  100% 
  {
  	border-radius: 5px;
  }
}
*/
/* The element to apply the animation to */

/*.anim 
{
	animation-name: example;
	animation-timing-function: linear;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}

{
  0%   
  {
  	background-color: red;
  	width:	1000px;
  }
  50%  
  {
  	background-color: yellow;
  	width:	50px;
  }
  100% 
  {
  	background-color: red;
  	width:	50px;
  }
  }*/

/*
@keyframes page-shrink 
{
  0%   
  {
  	background-color:blue;
  	width: 100%;
  	height: 100%;
  	left: 0;
  	top: 0;
  	border: 0px solid #000;
  	position:fixed;
  }
  100% 
  {
  	background-color: purple;
  	left: 30%;
  	top: 30px;
  	width: 40%;
  	height: 40%;
  	border: 1px solid #000;
  	position:relative;
  }
}

.page-shrink 
{
	animation-name: page-shrink;
	animation-timing-function: ease-out;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}
*/